{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/ficheTable.css') }}">
{% endblock %}
{% block title %}Fiche Jeu{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="card col-lg-8">
                <img class="card-img-top" src="{{ asset('images/cards.png') }}" alt="Card image cap" height="400">
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-3">
                            <h4 class="card-title cardTitreJeu">{{ titre }}</h4>
                            <p class="card-text typeJeuFloat">{{ type }}</p>
                        </div>
                        <div class="offset-lg-6 col-lg-3">
                            <img alt="qrcodeTable" src="https://qrcode.online/img/?type=url&size=5&data={{ path(app.request.attributes.get('_route'),app.request.attributes.get('_route_params')) }}">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card">
                    <div class="card-body">
                        <div class="row align-items-center justify-content-center">

                                <img class="center" src="https://api.adorable.io/avatars/80/{{ emailorga }}to Clipboard
" alt="Card image cap" height="80" width="80">
                        </div>
                        <h5 class="card-title text-center">{{ pseudo }}</h5>
                            <button class="btn text-center col-lg-12 btn-purple" >{{ emailorga }}</button>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <h3 class=" card-title cardTitreJeu borderPurple text-center">Localisation</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <h3 class="borderPurple cardTitreJeu">Description</h3>
            <p>{{ description }}</p>
        </div>
    </div>
{% endblock %}
