{% extends 'base.html.twig' %}

{% block title %}Rechercher Table{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/recherche.css') }}">
    <link rel="stylesheet" href="{{ asset('css/ol.css') }}">
{% endblock %}
{% block body %}
    <div class="container">
        <form  id="rechercheTableForm" action="{{ path('rechercheAnnonce', {'departement': departement, 'region': region}) }}" method="get">
            <div class="form-row form-group">
                <div class="col-6">
                    <input  id="searchTable" name="searchTable" type="text" class="form-control" placeholder="Quelle table recherchez-vous?">
                </div>
                <div class="col-3">
                    <select id="selectTypeJeu" name="selectTypeJeu" class="form-control">
                        <option value="all">Tous types de jeu</option>
                        {{ typeJeu | raw }}
                    </select>
                </div>
                <div class="col-3">
                    <button  id="btnRechercher" type="submit" class="btn btn-primary">Rechercher</button>
                </div>
            </div>
            <div class="form-row form-group">
                <div class="offset-3 col-3">
                    <select id="zoneSelect" class="form-control">
                        {{ selectZoneHtml|raw }}
                    </select>
                </div>
                <div class="col-3 autocomplete">
                    <input  id="inputSearchVilleCp" name="inputSearchVilleCp" type="text" class="form-control" placeholder="Ville ou code Postal">
                </div>
            </div>
        </form>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6">
                <div  id="listTable" class="list-group" data-tables-researched='{{ resultTablesJson| serialize }}'>
                    {{ resultTables | raw }}
                </div>
            </div>
            <div class="col-lg-6">
                <div id="map" tabindex="0"></div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
<<<<<<< HEAD
    <script src="{{ asset('js/recherche.js') }}"></script>
    <script src="{{ asset('js/ol.js') }}"></script>
=======
    <script src="{{ asset("js/recherche.js") }}"></script>

>>>>>>> d22b8c43cb0f3c10b1fd3a7e7a13ba5c6e543138
{% endblock %}