{% extends 'base.html.twig' %}

{% block title %}Fiche de Jeu{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/rating.css') }}">
{% endblock %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-lg-10">
                <div class="card">
                    <h3 class="card-header cardHeaderRoll">{{ titre }}</h3>
                    <img class="col-lg-3" src="{{ asset('images/slimedoogo.png') }}" alt="Card image cap" height="120" width="120">
                    <div class="card-body">
                        <div class="markdownArea">
                        </div>
                        {{ vote|raw }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/rating.js') }}"></script>
{% endblock %}
